div#wpbooklist-filter-search-container {
    display: none;
}

.book-body .list-book > li {
    float: left;
    background: white;
    list-style: none;
    height: 283px;
    width: 30%;
    margin: 0 10px;
    padding: 10px;
}
.post-meta  {
    margin-left: 0px;
}
.post-meta li {
    font-size: 10px;
    list-style: none;
}

.thumbnail-book {
    height: 180px;
    text-align: center;
}

.thumbnail-book img {
    max-height: 170px;
    max-width: 170px;
}

header.entry-header {
    padding-top: 25px;
}

.image img {
    width: 100%;
    max-height: 220px;
}

main#main {
}

span.byline {
    display: block;
}

footer.entry-footer {
}

time.updated {
    display: none;
}

form#commentform label,form#commentform input,form#commentform textarea{
    display: block;
    width: 100%;
}
